name: problemka_mtuci
environment:
  sdk: ">=3.9.0 <4.0.0"
dev_dependencies:
  melos: ^7.1.1
  
workspace: 


melos:
  command:
    bootstrap:
      runPubGetInParallel: false

  scripts:
    generate:intl:
      run: dart run bin/scripts/generate_intl.dart
      description: "Generate internationalization files for all packages."

    generate:base:
      run: |
        melos exec --scope=base -- flutter pub run build_runner build --delete-conflicting-outputs
      description: "Generate code in base package."

    generate:base:label:
      run: |
        cd apps/base/label ; flutter pub run build_runner build --delete-conflicting-outputs
      description: "Generate code in label symlink."

    generate:labels:
      run: dart run bin/scripts/generate_labels.dart
      description: "Generate code and assets in all label packages except base."

    generate:label:assets:
      run: dart run bin/scripts/generate_label_assets.dart
      description: "Generate Flutter assets in all label packages except base."

    generate:fh_logger:
      run: |
        melos exec --scope=fh_logger -- dart run build_runner build -d
      description: "Generate code in fh_logger package."

    generate:fh_logger:watch:
      run: |
        melos exec --scope=fh_logger -- dart run build_runner watch -d
      description: "Watch mode for code generation in fh_logger package."

    generate:all:
      steps:
        - melos run generate:intl
        - melos run generate:base
        - melos run generate:labels
        - melos run generate:label:assets
        - melos run generate:fh_logger
      description: "Generate code in base and assets in all label packages."

    watch:base:
      run: |
        melos exec --scope=base -- flutter pub run build_runner watch --delete-conflicting-outputs
      description: "Watch mode for code generation in base package."

    watch:base:label:
      run: |
        cd apps/base/label && flutter pub run build_runner watch --delete-conflicting-outputs
      description: "Watch mode for code generation in label symlink."

    watch:labels:
      run: |
        for dir in apps/*/label; do
          if [ -d "$dir" ] && [ "$dir" != "apps/base/label" ]; then
            echo "Watching $dir"
            (cd "$dir" && flutter pub run build_runner watch --delete-conflicting-outputs)
          fi
        done
      description: "Watch mode for code and assets generation in all label packages except base."

    clean:
      run: |
        melos exec -- flutter clean
      description: "Clean the build directories for all packages."

    get:
      run: |
        dart pub get
      description: "Run pub get once for the whole workspace."

    format:
      run: |
        melos exec -- flutter pub format .
      description: "Format Dart code in all packages."

    analyze:
      run: |
        melos exec -- flutter analyze
      description: "Analyze Dart code in all packages."

    test:
      run: |
        melos exec -- flutter test --coverage
      description: "Run unit tests in all packages."
