AUTH_DATABASE_URL=postgresql+asyncpg://<USER>:<PASSWORD>@<HOST>:<PORT>/auth_db
REPORTS_DATABASE_URL=postgresql+asyncpg://<USER>:<PASSWORD>@<HOST>:<PORT>/reports_db
AUTH_REDIS_URL=redis://<HOST>:<PORT>/0
JWT_SECRET=jwt_secret
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
OTP_TTL_SEC=300
GENERATE_DEFAULT_OTP=False

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=587
SMTP_USER=твой@yandex.ru
SMTP_PASSWORD=пароль_приложения
SMTP_FROM=твой@yandex.ru